body {
  margin: 0;
  user-select: none;
  background-color: #eee;
}
.topBar {
  height: 54px;
  font-size: 24px;
  color: white;
  text-align: center;
  line-height: 54px;
  min-width: 370px;
  background-color: #2c313c;
}

.FileUpload {
  max-width: 520px;
  min-width: 370px;
  width: 90%;
  margin: 50px auto;
  border-radius: 10px;
  box-shadow: 0 0 10px -6px gray;
  background-color: #fff;
  width: 100%;
}

.fileTitle {
  color: #333;
  font-weight: normal;
  padding: 10px;
  font-size: 20px;
}

#chooseFile,
#uploadFile {
  margin-left: 20px;
}
.fileInfo {
  padding: 10px;
  border: 2px #cdcdcd dotted;
  margin: 10px;
  border-radius: 15px;
}

#progress {
  height: 20px;
  min-width: 350px;
  max-width: 500px;
  margin: 10px;
  width: 100%;
}

.progressDiv {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  line-height: 10px;
  min-width: 370px;
  max-width: 520px;
  position: relative;
}

.listsTable {
  max-width: 520px;
  min-width: 370px;
  width: 90%;
  margin: 10px auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px -6px gray;
}

.listsTable * {
  text-align: center;
}

.operationButton {
  margin: 2px 0 !important;
}

a {
  text-decoration: none;
}

.el-progress__text span {
  color: gray !important;
}

.el-switch {
  --el-switch-off-color: gray !important;
}
